export ADDR=":3000"
export DB_ADDR="postgres://admin:admin@localhost/socialnetwork?sslmode=disable"
export FROM_EMAIL="vadirajraokaranam@gmail.com"
export MAILTRAP_API_KEY="aoKsB6TblOm5ArMihX4kdWAteDgUuIZA"

