export ADDR=":3000"
export DB_ADDR="postgres://admin:admin@localhost/socialnetwork?sslmode=disable"
export FROM_EMAIL="vadirajraokaranam@gmail.com"
export MAILTRAP_USERNAME="43n4ofyf@mailosaur.net"
export MAILTRAP_PASSWORD="iYE3G8KjGiViIUePIY8CxTwyrMAdCbh8"
