{{define "subject"}}Finish Registration with GopherSocial{{end}}

{{define "body"}}
<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-widt"/>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
</head>
<body>
<p>Hi {{.Username}}</p>
<p>Thanks for signing up for gocipher social.We're excited to have you on board!</p>
<p>Before you can start using gocipher social,you need to confirm your email address.Click the link below
to confirm your email address:</p>
<p><a href="{{.ActivationURL}}">{{.ActivationURL}}</a></p>
<p>If you want to activate you account manually copy and paste the code from the link above</p>
<p>If you didn't sign up for gocipher social,you can safely ignore this email.</p>
<p>Namskara from</p>
<p>gopher social team</p>
</body>
</html>
{{end}}